NEXT_BASE_PATH=


PORT=4010

MAX_ACTIVE=175
MAX_QUEUE=0
SESSION_MS=86400000
ACTIVE_HEARTBEAT_TIMEOUT_MS=20000
WINDOW_LOCK_RETRY_SECONDS=30

ONLINE_MAX_USERS=1000
PRESENCE_TTL_MS=45000
PRESENCE_COUNT_CACHE_MS=3000

PRESENCE_BACKEND=memory
POCKETBASE_URL=
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=
POCKETBASE_COLLECTION=presence_sessions

ACCESS_LOG_ENABLED=0
ACCESS_LOG_PATH=/var/log/nginx/access.log
ACCESS_LOG_WINDOW_MS=120000
ACCESS_LOG_CACHE_MS=10000
ACCESS_LOG_TAIL_BYTES=1000000
